@page
@model GRH.Views.FrontOffice.DemandeConge

@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Demande de Congé</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/css/swiper.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <style>
        /* Styles CSS personnalisés */

        body {
            background-color: #f7f7f7;
        }

        .container {
            background-color: #fff;
            margin-top: 20px;
            padding: 20px;
            border-radius: 5px;
        }

        .form-label {
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Formulaire de Demande de Congé</h1>
        <h2>Congé restant : @ViewBag.restant jours</h2>
        <form method="post" action="https://localhost:7248/FrontOffice/demandeConge">
            <div class="form-group">
                <label for="debut" class="form-label">Date de Début</label>
                <input type="datetime-local" class="form-control" id="debut" name="debut">
            </div>
            <div class="form-group">
                <label for="fin" class="form-label">Date de Fin</label>
                <input type="datetime-local" class="form-control" id="fin" name="fin">
            </div>
            <div class="form-group">
                <label for="raison" class="form-label">Raison de la demande</label>
                <select name="idRaison">
                    @foreach (Raison r in @ViewBag.allRaison)
                    {
                        <option value="@r.idRaison">
                            @r.nom
                        </option>   
                    }
                </select>
            </div>
            <input type="submit"  value="Soumettre" class="btn btn-primary">
        </form>
    </div>

</body>
</html>
