@page
@model GRH.Views.Home.TousBesoin

@{
    Layout = "~/Views/Shared/BackOfficeAccueil.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantite</th>
                    <th>Unite</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Article</th>
                    <th>Quantite</th>
                    <th>Unite</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (BesoinArticle a in @ViewBag.allBesoin)
                {
                    <tr>
                        <td>@a.article.NomArticle</td>
                        <td>@a.Quantite</td>
                        <td>@a.article.unite.NomUnite</td>
                        <td class="action-table">
                            <a href="" class="btn btn-success btn-circle">
                                <i class="fas fa-check"></i>
                            </a>
                            <a href=""  class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>